.store-img{
    width: 27rem;
    
    height: 25rem;
}
.store-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
    gap:1em;
    letter-spacing: 2px;
}