.store-container {
    width: 60vw;
    height: auto;
    
    
}
.cart-total {
    width: 40rem;
    height: 60vh;
    background-color: cadetblue;
}
.cart-total {
    width: 40rem;
    height: 20vh;
    background-color: bisque;
    text-align: center;
    
    
}