.header {
   
    
    background-color: black;
   
    
}
.video-container {
  height: 80vh;
  width: 100%;
  position: relative;
  padding: 4em;
  margin: auto;
}

.video-container video {
  width: 90%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #f5ebeb;
  top: 40%;
  padding: 10px;
}
.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2em;
  .air-desc {
    padding: 3em;
  }
}
.description {
  background-color: black;
  width: 100%;
  height: auto;
  text-align: center;
  p {
    color: white;
    padding: 5em;
    font-size: 2rem;
    letter-spacing: 1px;
   font-weight: bold;
  }
  .parametars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

     h2 {
       color: #F0B556;
     }
     h3 {
       color: #f5ebeb;
       padding: 1 bem;
     }
  }
  
}
