.nav {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    color: black;
    background-color: rgb(36, 94, 110);
    z-index: 1;
    width: 90;
    border-bottom: 2px solid orange;
   
    
   
  }
  .nav-center {
    width: 100vw;
    max-width: var(--max-width);
   
    
  }
 
 
  
  .btn {
    font-size: 1.4rem;
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    border-color: transparent;
    color: white;
    background: var(--clr-red-dark);
    cursor: pointer;
    transition: var(--transition);
    margin-top: 3em;
  }
  .btn:hover {
    background: var(--clr-grey-5);
  }
  .nav-links {
    display: none;
  
   
    
  }
  .signin-btn {
    display: none;
  }
  .dron-img {
    width: 50px;
    height: 39px;
  }
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  
  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  
  
  
  
  /*
  =============== 
  Stripe Styles
  ===============
  */
  
  
  
  /* nav media query */
  @media screen and (min-width: 800px) {
    .nav-center {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;
    }
    .toggle-btn {
      display: none;
    }
    .signin-btn {
      display: inline-block;
    }
    .nav-links {
      display: block;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      height: 100%;
      display: grid;
      align-items: center;
      
     
    }
    .nav-links li {
      height: 100%;
    }
    .link-btn {
      height: 100%;
      background: transparent;
      border-color: transparent;
      font-size: 1.1rem;
      color: white;
      text-transform: capitalize;
      letter-spacing: 1px;
      width: 10rem;
    }
  }
  
  