.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     padding: 2em;
     height: 70h;
}
.link-content {
    width: 38rem;
    height: 40vh;
   
}
.section-meals {
    padding: 0;
}
img {
    height: 50vh;
}




.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    
   
}

.meal-photo img {
    
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    height: 40vh;
    
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
