img {
    width: 100%;
    display: block;
}

.dron-center {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    /* align-items: start; */
  }
  @media screen and (min-width: 576px) {
    .dron-center {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }
   
  .drones {
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--mainBorderRadius);

  }
  .drones:hover {
    box-shadow: var(--darkShadow);
  }
  .dornes img {
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: var(--mainBorderRadius);
    border-top-right-radius: var(--mainBorderRadius);

  }
.drones-footer {
    padding: 1.5rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

}