.card-content {
    width: 40rem;
    height: 65vh;
    background-color: var( --clr-grey-9);
    margin:auto;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    
}
 .card-content:hover {
     box-shadow: 1px 2px 3px  var(  --clr-primary-3);
     transition: ease-in 0.4s;
 }
 .link {
     padding: 0.4em;
     background: var(  --clr-primary-3);
     color: white;
     font-size: 1.3rem;
     width: 7rem;
     height: 6vh;
     font-size: 1em;

 }
 .link:hover {
     background-color: rgb(146, 31, 60);
     transition: ease-in 0.2s;
 }
.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    height: auto;
}
.content-inner {
    
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
 .title {
    padding: 1em;
    color: var(  --clr-red-light);
  
}
